$orange: #FC9E2B;
$whiteBone: #FFFFFF;
$purple: #2B1840;

$lightBlack: #363629;

#fly {
  $top: -11px;
  z-index: 100;
  position: fixed;
  display: block;
  height: 120px;
  width: 100px;
  background-color: $whiteBone;
  left: 0px;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  // border-radius: 0 2px 2px 0px;

  .brand{
    width: 180px;
    height: 30px;
    // margin-top: 10px;
    transform: rotate(-90deg);
    // background: url("/images/brand.svg") no-repeat center;
    background-size: 112%;
    padding: 7px;
    display: inline-block;

    &:hover {
      cursor: pointer;
    }
  }

  .search{
    width: 25px;
    height:20px;
    right: 25px;
    top: 0px;
    font-size: 0.8em;
    margin-top: 7px;
    position: absolute;
    padding: 7px;
    border-radius: 2px;

    &:before{
      content: '\f002';
      font-family: 'FontAwesome';
      color: $lightBlack;
    }
    &:hover {
      cursor: pointer;
    }
  }

}