$whiteBone: #FAFAF5;
$purple: #2B1840;
$black: #363629;
$yellow: #FFAA00;
$blue: #284F9B;

#gridContainer{
  // position: relative;
  width: 100%;
  overflow: hidden;

  .scrollBars{
    width: 100%;
    height: 100%;
    padding-right: 30px;
    //margin-left: -4px;
    padding-bottom: 20px;
    position: relative;
    overflow: scroll;
    text-align: center;
    background-color: $whiteBone;

    .blankSpace{
      display: inline-block;
      background-color: $whiteBone;
      position: relative;

      .grid{
        // background-color: #F4F4F4;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .mask{
          $time: 100ms;
          background-color: $whiteBone;
          height: 101%;
          opacity: 0;
          position: absolute;
          transition: $time ease-in-out;
          width: 101%;
          z-index: -1;

        }

        .corpsePiece {
          position: absolute;
          display: block;
          text-align: center;
          font-size: 0.5em;
          color: $whiteBone;

          img {
            width: 100%;
            height: 100%;
          }

          .handlebar {
            font-size: 2em;
            background-color: #A8F0DD;
            width: 50%;
            height: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;

            .closeHandlebar{
              &:hover{
                cursor: pointer;
              }
            }
          }

          .handle {
            position: absolute;
            width: 70px;
            height: 70px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: 1s ease-out .1s;

            .left {
              float: left;
              // background-color: $black;
              // height: 100%;
              // width: 30px;
              border-right: 35px solid $blue;
              border-top: 35px solid transparent;
              border-bottom: 35px solid transparent;
            }
            .right {
              float: left;
              border-left: 35px solid $yellow;
              border-top: 35px solid transparent;
              border-bottom: 35px solid transparent;
            }

            &:hover {
              opacity: 1;
              cursor: pointer;
            }

          }
        }
      }
    }
  }
}